<div class="containerBox">
  <mat-toolbar>
    <span>My Application</span>
  </mat-toolbar>
  <mat-drawer-container>
    <!-- sidenav starts -->
    <mat-drawer mode="side" opened>
      <mat-nav-list>
        <a mat-list-item routerLink="contact-us">
          <mat-icon aria-hidden="false" aria-label="Contacts" fontIcon="contacts"></mat-icon>
        </a>
        <a mat-list-item routerLink="about-us">
          <mat-icon aria-hidden="false" aria-label="About me" fontIcon="info"></mat-icon>
        </a>
      </mat-nav-list>
    </mat-drawer>
    <!-- sidenav ends -->
    <mat-drawer-content>
      Main content
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>